<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: blue;" text="yellow">
    <center>        
        <h1 style="background-color: aqua;">Hi this is html response</h1>
        <h1 style="background-color: black;"><font color="yellow">let's go</font></h1>
        <h1 style="background-color: rgb(240, 5, 5);"><marquee>I am going bye...</marquee></h1> 
    </center>
    
</body>
</html>